.center {
    margin: 0 auto;
}

input {
    width: 33%;
    outline: none;
    border: none;
    border-bottom: 1px solid #2d4662;
    background-color: #faf5ef;
    font-size: 0.9rem;
}


textarea {
    background-color: #faf5ef;
    width: 33%;
    height: 150px;
    border-radius: 4px;
    resize: none;
    outline: none;
    font-size: 0.9rem;
}

button {
    border-radius: 0px;
    font-size: 0.9rem;
    width: 5%;
}