* {
    font-family: 'Assistant';
    color: #2d4662
}

body {
    background-color: #faf5ef;
    margin: 0;
}

.main-body {
    height: 800px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #5b5f97;
}

a:visited {
    color: #2d4662;
}

 li a:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: #e0e0e1;
    color: #5d5e60;
    height: 70px;
    border-bottom: 2px solid #2d4662;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding: 10px;
}
/* Footer */
.footer {
    background-color: #e0e0e1;
    color: #2d4662;
    height: 50px;
    border-top: 2px solid #3d4662;
}

.footer .flex {
    justify-content: space-between;
}

.footer ul {
    display: flex;
    list-style-type: none;
}

.footer li {
    padding: 10px;
}

.icon {
    padding: 0 10px;
}